<head>
<title>{{ page_title }} - highdef.network</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://highdef.network/style.css" rel="stylesheet">
<style>
.asnView, .asnView > button {
    margin-left: 1em;
}
td > button {
    float: right;
    margin-left: 1em;
}
td, th {
    border: 1px solid white;
    padding: 0 0.3em;
}
h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
}
</style>
</head>
