<!DOCTYPE html>
<html lang="en">
{% set page_title = 'Route Grapher' %}
{% include "head.html.j2" %}

<body onload="doInit()">
<script src="/static/routegraphs.js"></script>

<div class="main">
{% include "nav.html.j2" %}
<div class="container">

<h2>Route Grapher</h2>
{% import "macros.j2" as macros %}

<div style="float: right">
{{ macros.render_table(suggested_asns_table) }}
</div>

<form action="" method="get">
    <label for="ip_prefix">Target IP / prefix:</label>
    <input type="text" id="ip_prefix" name="ip_prefix" placeholder="e.g. 172.22.108.0/25"><br>

    <label for="lname">ASNs to check:</label>
    <input type="text" id="add_asn_input" placeholder="e.g. 4242421080">
    <button onclick="addAsnListener()" type="button">Add</button>
    <span id="error_text" class="info-error"></span><br>
    <div id="asn_list_view"></div>

    <select name="asn" id="asn_list" multiple hidden></select>
    <input type="submit" onclick="addAsnListener()" value="Graph!">
    <input type="checkbox" id="hide_graph_links" name="hide_graph_links" value="1">
    <label for="hide_graph_links">Hide links in graph</label>
</form>

{% if origin_asns_table %}
{{ macros.render_table(origin_asns_table) }}
{% endif %}

{% if roa_entries_table %}
{{ macros.render_table(roa_entries_table) }}
{% endif %}

{% if graph_svg %}
<br>
{{ graph_svg }}
{% endif %}

<h3>Sample Queries</h3>
<ul id="sample_queries">
</ul>

<h3>Notes</h3>
<p>This tool uses MRT dumps from the dn42 <a href="https://dn42.dev/services/Route-Collector">Global Route Collector (GRC)</a>.</p>
<ul>
<li><span style="color: dodgerblue">Blue</span>: selected source ASN</li>
<li><span style="color: lightgreen">Green</span>: origin ASN</li>
<li><span style="border: white 1px solid; padding: 0 2px">Solid line</span>: this adjacency is known to exist from GRC paths</li>
<li><span style="border: grey 1px dashed; padding: 0 2px">Dashed line</span>: guessed path; source ASN has no route to this prefix visible to the GRC</li>
</ul>
</div> <!-- container -->
{% include "footer.html.j2" %}
</div> <!-- main -->
</body>
</html>
