<!DOCTYPE html>
<html lang="en">
{% include "head.html.j2" %}
<body>
<div class="main">
{% include "nav.html.j2" %}
<div class="container">

{% import "macros.j2" as macros %}
{% for table in tables %}
{{ macros.render_table(table) }}
{% endfor %}

{# TODO: add this common bit
<p>Backend: last updated {{ db_last_update }}</p>
#}

</div> <!-- container -->
{% include "footer.html.j2" %}
</div> <!-- main -->
</body>
</html>
