<!DOCTYPE html>
<html lang="en">
{% include "head.html.j2" %}
<body>
<div class="main">
<h1>highdef.network</h1>
<div class="container">

{% if error|default(None) %}
<p class="info-error">Error: {{ error }}</p>
{% endif %}

{% import "macros.j2" as macros %}
{% for table in tables %}
{{ macros.render_table(table) }}
{% endfor %}

{# TODO: add this common bit
<p>Backend: last updated {{ db_last_update }}</p>
#}

</div> <!-- container -->
</div> <!-- main -->
</body>
</html>
